.page-footer {
    background-color: $footerBackGround;
    padding: 60px 0;

    & .container{
        display: flex;       
        align-items: baseline;
       justify-content: space-between;
    }

    &__logo--dark {

        color: $background;
    }

    &__contact-list {
        padding: 0;
        margin-top: 20px;
        margin-bottom: 0;
        list-style: none;
    }
    &__contact-item:not(:last-child) {
        margin-bottom: 9px;
    }
    &__contact-map {
        font-style: normal;
        text-decoration: none;    
        line-height: 1.2;   
        color: $background;


    }

    &__contact-link {
        text-decoration: none;
        font-style: normal;    
        line-height: 1.71;    
        color: rgba(255, 255, 255, 0.6);    
        transition: color, 250ms, cubic-bezier(0.4, 0, 0.2, 1);

        &:hover ,
        &:focus {
            color: $brandColor;
        }
    }    
}

.footer-links__spam {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;        
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $background;
}

.mailing-list {
    
    &__title {       
        font-weight: 700;        
        text-transform: uppercase;
        color: $background;

    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__input {
        width: 358px;
        height: 50px;
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        background-color: #2F303A;
        padding-left: 16px;
    }
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    background-color: $brandColor;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    border: none;
    color: $background;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.06em;
    text-align: center;
    cursor: pointer;

    &__icon {
        fill: $background;
        margin-left: 10px;
    }
}






















